.grid {
	margin: 0;
	padding:0;
	width: 100%;
	height: 100%;
	list-style: none;
	text-align: center;
	display:inline;
}

#teacher-slider {
    display: block;
    height: 350px;
    width: 100%;
    overflow: hidden;
    position: relative;
	top:0;
	bottom:0;
}

#teacher-slider #slides {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

#teacher-slider #slides > div {
    list-style: none;
    height: 100%;
    width: 500%;
    position: relative;
    left: 0px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* Set 3D perspective since we're using 3D transforms */
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -webkit-perspective: 600px; 
    -moz-perspective: 600px; 
    perspective: 600px;
    -webkit-perspective-origin: 10% 50%; 
    -moz-perspective-origin: 10% 50%; 
    perspective-origin: 10% 50%;
}

#slides > div > span {
	/* Run the tranistions */
	-webkit-transition: all 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530);
	-moz-transition: all 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530);
	transition: all 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530);
	height: 100%;
	width: 10%;
	float: left;
	border-radius: 5px;
	opacity: 1;
	overflow: hidden;
	display: block;
	position: relative;
	font-size: 1.6em;
	top: 20px;
	z-index: 1;
	background-size:cover;
}

/* Display none, so the user doesn't see whats happening with the radio buttons */
#teacher-slider input[type=radio] {
	display: none;
}

#teacher-slider #slides > div > span > img {
    margin: auto;
    height: 100%;
}

/* Style the arrows so they look nice! */
#teacher-slider .arrows {
    font-size: 15px;
    color: #fff;
    position: absolute;
    bottom: 20px;
    display: none;
    cursor: pointer;
    font-family: Arial, sans-serif;
    z-index: 9999;
    width: 29px;
	height: 25px;
	border-radius: 32px;
	text-align: center;
	padding: 7px 0 0 3px;
    background: #69C;
    box-shadow: 0 0 20px rgba(200, 235, 248, 0.98), inset 0px 11px 24px -8px rgba(255,255,255,0.4);
}

#teacher-slider .arrows:hover {
	box-shadow: 0 0 20px rgba(200, 235, 248, 0.98), inset 0px -11px 24px -8px rgba(255,255,255,0.4);	
}

/* The info boxes */
#slides .info {
	width: 100%;
	padding: 0.5em;
	position: relative;
	bottom: 120px;
	border-radius: 5px 5px 0 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	display: block;
	-webkit-transition: all 1s 0.2s cubic-bezier(1, 0, 0.6, 1);
	transition: all 1s 0.2s cubic-bezier(1, 0, 0.6, 1);
	-moz-transition: all 1s 0.2s cubic-bezier(1, 0, 0.6, 1);
	color: #fff;
	font-weight: bold;
	background-color: #69C;
	box-shadow: 0 0 20px rgba(0,0,0,0.3);
	line-height: 30px;
	backface-visibility:hidden;
}

#slides .info strong {
	border-bottom: 2px solid #fff;
	padding: 3px 0;
	display:block;
	font-family:'Marck Script', cursive;
	text-align:left;
}

#slides .info em {
	font-size: 0.8em;
	display:block;
	padding-top: 4px;
	color: #035;
	text-align:right;
}

/* This is for positioning the arrows */
#button-1:checked ~ #arrow-2, #button-2:checked ~ #arrow-3, #button-3:checked ~ #arrow-4, #button-4:checked ~ #arrow-5 {
    right: 27%;
    display: block;
}

/* Since there is no previous sibling selector in CSS, we have to select the correct arrow, reposition it and rotate it 180deg so it appears as though it's a back arrow */
#button-2:checked ~ #arrow-1, #button-3:checked ~ #arrow-2, #button-4:checked ~ #arrow-3, #button-5:checked ~ #arrow-4 {
	left: 27%;
    display: block;
    -webkit-transform: rotateZ(180deg);
    -o-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
    box-shadow: 0 0 20px rgba(200, 235, 248, 0.98), inset 0px -11px 24px -8px rgba(255,255,255,0.4);
}

#button-2:checked ~ #arrow-1:hover, #button-3:checked ~ #arrow-2:hover, #button-4:checked ~ #arrow-3:hover, #button-5:checked ~ #arrow-4:hover {
    box-shadow: 0 0 20px rgba(200, 235, 248, 0.98), inset 0px 11px 24px -8px rgba(255,255,255,0.4);
}

/* The images used in the slides, feel free to change this */
#image-1 {
	background: url('../imgs/igor.jpg');
}

#image-2 {
	background: url('../imgs/sasha.jpg');
}

#image-3 {
	background: url('../imgs/vova.jpg');
}

#image-4 {
	background: url('../imgs/david.jpg');
}

#image-5 {
	background: url('../imgs/question.jpg');
}

/* The next bit is a bit wordy, but it just positions the slides at either side of the selected slide 
   so we get a cool 3D effect */
#teacher-slider #button-1:checked ~ #slides > div #image-2, #teacher-slider #button-1:checked ~ #slides > div #image-3, 
#teacher-slider #button-1:checked ~ #slides > div #image-4, #teacher-slider #button-1:checked ~ #slides > div #image-5,
#teacher-slider #button-2:checked ~ #slides > div #image-3, #teacher-slider #button-2:checked ~ #slides > div #image-4, 
#teacher-slider #button-2:checked ~ #slides > div #image-5, #teacher-slider #button-3:checked ~ #slides > div #image-4,
#teacher-slider #button-3:checked ~ #slides > div #image-5, #teacher-slider #button-4:checked ~ #slides > div #image-5 {
	-webkit-transform: rotateY(-10deg) scale(0.8) translateX(-10%);
	transform: rotateY(-10deg) scale(0.8) translateX(-10%);
	z-index: 0;
}

#teacher-slider #button-2:checked ~ #slides > div #image-1, #teacher-slider #button-3:checked ~ #slides > div #image-2,
#teacher-slider #button-3:checked ~ #slides > div #image-1, #teacher-slider #button-4:checked ~ #slides > div #image-3, 
#teacher-slider #button-4:checked ~ #slides > div #image-2, #teacher-slider #button-4:checked ~ #slides > div #image-1, 
#teacher-slider #button-5:checked ~ #slides > div #image-4, #teacher-slider #button-5:checked ~ #slides > div #image-3,
#teacher-slider #button-5:checked ~ #slides > div #image-2, #teacher-slider #button-5:checked ~ #slides > div #image-1 {
	-webkit-transform: rotateY(10deg) scale(0.8) translateX(10%);
	transform: rotateY(10deg) scale(0.8) translateX(10%);
	z-index: 0;
}

/* Show the info box when the user selects the slides */
#teacher-slider #button-1:checked ~ #slides > div #image-1 .info, 
#teacher-slider #button-2:checked ~ #slides > div #image-2 .info,  
#teacher-slider #button-3:checked ~ #slides > div #image-3 .info,
#teacher-slider #button-4:checked ~ #slides > div #image-4 .info, 
#teacher-slider #button-5:checked ~ #slides > div #image-5 .info {
	bottom: 0px;
}

/* .. and finally, move the slides into the correct position when the user clicks the arrow, so the right
   slide is selected */

#teacher-slider #button-1:checked ~ #slides > div > span { left: 5% }

#teacher-slider #button-2:checked ~ #slides > div > span { left: -5% }

#teacher-slider #button-3:checked ~ #slides > div > span { left: -15% }

#teacher-slider #button-4:checked ~ #slides > div > span { left: -25% }

#teacher-slider #button-5:checked ~ #slides > div > span { left: -35% }